html,body {
    margin: 0;
    height: 100%;
    padding: 0;
}

/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* SETTINGS */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 

/* ********************************************************************* */ 
/* KLEUR EN AFMETING */
/* ********************************************************************* */ 
:root{
    /* kleur */
    --BackgroundSlideOneFive: #f5ece3;
    --BackgroundSlideTwoFourSix: #e8d8d3;
    --BackgroundSlideThree: #ddcdc3;
    --TekstKleur: #000000;
    --KopTekst: #ffffff;
    --MenuKnop: #86933A;
    --ButtonKleur: #99ab65;
    --HoverKnopIllustraties: #b07d5f;
    --DiplomaTekstKleur: #6E752D;

    /* afmeting */    
    --HamburgerThickness: var(--hamburgerThickness, 4px);
    --hamburgerWidth: 1.75rem;
    --hamburgerHeight: 1.25rem;
    --MenuCircleHeight: calc(var(--MenuCircleSize) / 2);  
  }
  


/* ********************************************************************* */ 
/* FONTS */
/* ********************************************************************* */ 
  @font-face {
    font-family: 'josefin';
    src: url('../assets/JosefinSans-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'josefinbold';
    src: url('../assets/JosefinSans-Medium.ttf');
    font-style: normal;
}



/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* STANDAARD VORMGEVING */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 

body {
    overflow-x: hidden;
    height: 100vh;
}

p {
    line-height: 1.3em ;
}

/* ACHTERGROND KLEUREN */
.homepage section:nth-of-type(1) {
    background-color: #f5ece3;
}

.homepage section:nth-of-type(2) {
    background-color: #e8d8d3;
}

.homepage section:nth-of-type(3) {
    background-color: #ddcdc3;
}

.homepage section:nth-of-type(4) {
    background-color: #e8d8d3;
}

.homepage section:nth-of-type(5) {
    background-color: #f5ece3;
}

.homepage section:nth-of-type(6) {
    background-color: #e8d8d3;
}

/* TEKSTEN */
h1, h2, h3, h4, h5, h6, p {
    color:var(--TekstKleur);
    font-family: 'josefin';
}

h1 {
    font-size: 0.7em;
    font-family: 'Josefin';

    position: absolute;
    right: 1em;
    bottom: 0;
    z-index: 30;
} 

.contactme h1,
.projecten h1,
.projectpage3 h1,
.projectpage4 h1,
.projectpage2 h1,
.cv h1,
.illustraties h1,
.cv h1,
.cvadditional h1,
.cveducation h1{
    background-color:var(--HoverKnopIllustraties);
    color: var(--KopTekst);
    font-family: 'josefinbold';  

    padding: 1em;  
    position: fixed;
}

/* ********************************************************************* */ 
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width: 50em) {
    h1 {
        font-size: 1.5em;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* NAVIGATIE BRON: https://codepen.io/melnik909/pen/JpJPYp AUTHOR: STAS MELNIKOV*/ 
/* ********************************************************************* */
/* ********************************************************************* */ 
/* ********************************************************************* */ 

/* ********************************************************************* */
/* NAVIGATIE POSITIE + KLEUR/FORMAAT*/
/* ********************************************************************* */
.menu{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;  

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
}



/* ********************************************************************* */
/* NAVIGATIE CIRKEL*/
/* ********************************************************************* */

/* VORMGEVING CIRKEL + POSITIE*/
.menu__toggle::before{
  content: "";
  width: 1em;
  height: 1em;
  
  font-size: 7.5em; 
  background-color: var(--MenuKnop);
  border-radius: 50%;

  position: absolute;
  bottom: -.45em; 
  left: calc(50% - .5em);
  z-index: -1;

  transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
              width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
              height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.nav-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}



/* ********************************************************************* */
/* HAMBURGERMENU ICON*/
/* ********************************************************************* */

/* HAMBURGERMENU ICON NAAR KRUIS*/
.menu_activated .m-hamburger::before{
  top: 50%;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.menu_activated .m-hamburger::after{
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.menu_activated .m-hamburger__label{
  transform: translate3d(-.285em,-.3em, 0);
  opacity: 0;
}

/* PLAATSING HAMBURGERMENU ICON */
.menu__toggle{
  width: 6.25em;
  height: var(--MenuCircleHeight);
  margin-bottom: 0.25em;
}

 /* STREEP HAMBURGER ICON */
.m-hamburger{  
  display: inline-flex;
  width: var(--hamburgerWidth, 28px);
  height: var(--hamburgerHeight, 20px);
  position: relative;
}

.m-hamburger__label{
  top: calc(50% - calc(var(--HamburgerThickness) / 2));
}

.m-hamburger::after{
  bottom: 0;
}

.m-hamburger::before, 
.m-hamburger::after{
  content:"";
}

.m-hamburger::before, 
.m-hamburger::after, 
.m-hamburger__label{
  background-color:var(--KopTekst);

  width: 100%;
  height: var(--HamburgerThickness);
  position: absolute;
  left: 0;
}



/* ********************************************************************* */
/* INSIDE NAVIGATIE*/
/* ********************************************************************* */

/* PLAATSING LINK INSIDE NAVIGATIE*/
.menu__nav{
  box-sizing: border-box;
  width: 100%;
  height: 0;

  transition: opacity .2s ease-out;
  opacity: 0;

  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.menu_activated .menu__toggle::before{
  width: 100vmax;
  height: 100vmax;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
  transition-duration: 1s;
}

.menu_activated .menu__nav{
  flex-grow: 1;
  opacity: 1;

  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
  height: 100%;
}

/* TEXT NAVIGATIE ITEMS */
.menu ul li a {
    text-decoration: none;
    color: var(--KopTekst);
    font-size: 1.5em;
    font-family: 'josefinbold';
    font-weight: 700;
    text-transform: uppercase;

    padding: .5em 0; 
}

.menu ul li {
    list-style: none;
    margin: 0 0 1em 0;
}

@media (min-width:50em) {
    .menu ul li a {
    font-size: 3em;

    padding: .05em 2em;
    }
}







/* ********************************************************************* */
/* ********************************************************************* */
/* ********************************************************************* */
/* HOMEPAGE*/
/* ********************************************************************* */
/* ********************************************************************* */
/* ********************************************************************* */

/* standaard homepage */

.homepage {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100%;
}

.homepage section{
    scroll-snap-align: center ;
}

.homepage {
    display: block;
    width: fit-content;
    flex-wrap: wrap;
    position: relative;
}

/* Alle sections */
 
.homepage section {
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;

    height:100vh;
    width: 100vw;
}

/* button bekijk projecten section 2 */
.homepage section:nth-of-type(2) a {
    text-decoration: none;
    border-radius: 0.7em;
    font-size: 0.8em;
    font-family: 'josefinbold';
    color:var(--KopTekst);
    background-color: var(--ButtonKleur);

    padding: 1em;
    position: absolute;
    z-index: 30;
    top: 180%; left: 10%;
}

/* IMAGE GROOT + TEKST WEG BIJ KLEIN DEVICE */
.homepage section img:first-of-type,
.homepage section img:nth-of-type(3),
.homepage section h1,
.homepage section:nth-of-type(3) img:nth-of-type(2),
.homepage section:nth-of-type(3) img:nth-of-type(3) {
    display: none; 
}

/* SABRINA IMG KLEIN DEVICE */
.homepage section img:last-of-type {
    position: absolute;
    margin:  auto;
    z-index: 20;

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 95%;
}

.homepage section:nth-of-type(1) img:last-of-type,
.homepage section:nth-of-type(2) img:last-of-type,
.homepage section:nth-of-type(3) img:last-of-type {
    margin-left: 2em;
}

/* POSITIE BLAD */
.homepage section:nth-of-type(1) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    right: 0; top: 40% ;
}

.homepage section:nth-of-type(2) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    left: 0; top:140%;
}

.homepage section:nth-of-type(4) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    right: 0; top: 340%;
}

.homepage section:nth-of-type(5) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    left: 0; top:440%;
}

.homepage section:nth-of-type(6) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    right: 0; top: 540%;
}


/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */

@media (min-width:30em) {
    .homepage section:nth-of-type(1) img:last-of-type,
    .homepage section:nth-of-type(2) img:last-of-type,
    .homepage section:nth-of-type(3) img:last-of-type {
        margin-left: 3em;
    }
}

@media (min-width:40em) {
    /* img + tekst zichtbaar groot device */
    .homepage section img:first-of-type,
    .homepage section img:nth-of-type(3),
    .homepage section h1,
    .homepage section:nth-of-type(3) img:nth-of-type(2),
    .homepage section:nth-of-type(3) img:nth-of-type(3)  {
        display: block; 
    }   

    /* sabrina img niet zichtbaar klein device */
   .homepage section img:last-of-type {
        display: none;
    }

    .homepage section:nth-of-type(3) span:nth-of-type(1),
    .homepage section:nth-of-type(5) span:nth-of-type(1) {
        font-family: 'josefinbold';
    }

    .homepage section:nth-of-type(3) span:nth-of-type(2) a,
    .homepage section:nth-of-type(4) span:nth-of-type(1) a,
    .homepage section:nth-of-type(6) span:nth-of-type(1) a {
        font-family: 'josefinbold';
        color:var(--MenuKnop);
    }

    /* Sabrina img groot device */
    .homepage section img:first-of-type {
        margin:  auto; 
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 95%;
    }

    /* plaatsing blad 2 + afmetingen */
    .homepage section:nth-of-type(1) img:nth-of-type(3) {
        position: absolute;
        left: 0; top: 10% ;
    }

    .homepage section:nth-of-type(2) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        right: 0; top: 110%;
    }

    .homepage section:nth-of-type(3) img:nth-of-type(2) {
        width: 7em;
        position: absolute;
        right: 0; top: 240%;
    }

    .homepage section:nth-of-type(3) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        left: 0; top: 210%;
    }

    .homepage section:nth-of-type(4) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        left: 0; top: 310%;
    }

    .homepage section:nth-of-type(5) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        right: 0; top: 410%;
    }

    .homepage section:nth-of-type(6) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        left: 0; top: 510%;
    }

    /* teksten h1 groot device */
    
    .homepage section h1 {
        position: absolute;
        max-width: 15em;
        top: 3em;
        margin: 2em; 

        font-size: 0.9em;
    }

    .homepage section:nth-of-type(1) h1 {
        top:10%
    }

    .homepage section:nth-of-type(2) h1 {
        top: 150%;
    }

    .homepage section:nth-of-type(3) h1 {
        top: 250%; right: 7%;
        max-width: 15em;
    }

    .homepage section:nth-of-type(4) h1 {
        top: 310% ;
    }

    .homepage section:nth-of-type(5) h1 {
        top: 450%;
    }

    .homepage section:nth-of-type(6) h1 {
        top: 510%;
    }
}

@media (min-width:50em) {
    .homepage section h1 {
        padding-right: 2em;
    }
}

@media (min-width:60em) {
    .homepage section h1 {
        padding-right: 3em;
        font-size: 1.1em;
}

    /* AFMETING BLAD GROOT DEVICE */
    .homepage section:nth-of-type(1) img:nth-of-type(3),
    .homepage section:nth-of-type(2) img:nth-of-type(3),
    .homepage section:nth-of-type(3) img:nth-of-type(2),    
    .homepage section:nth-of-type(3) img:nth-of-type(3),
    .homepage section:nth-of-type(4) img:nth-of-type(3),
    .homepage section:nth-of-type(5) img:nth-of-type(3),
    .homepage section:nth-of-type(6) img:nth-of-type(3) {
        width: 12em;
    }

    .homepage section:nth-of-type(1) img:nth-of-type(2),
    .homepage section:nth-of-type(2) img:nth-of-type(2),
    .homepage section:nth-of-type(4) img:nth-of-type(2),
    .homepage section:nth-of-type(5) img:nth-of-type(2),
    .homepage section:nth-of-type(6) img:nth-of-type(2) {
        width: 13em;
    }

    /* button bekijk projecten section 2 */
    .homepage section:nth-of-type(2) a {
        font-size: 1em;
        padding: 1.5em;
        top: 120%; left: 10%;
    }
}


@media (min-width:70em) {
    .homepage section h1 {
        padding-right: 5em;
        font-size: 1.2em;
    }
}


@media (min-width:80em) {
    .homepage section h1 {
        padding-right: 7em;
    }

    /* button bekijk projecten section 2 */
    .homepage section:nth-of-type(2) a {
        margin-left: 4em;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* PROJECTEN */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */

/* ********************************************************************* */
/* PROJECT NAVIGATIE -->
<!--************************************************************************* --> */

.projectnavigatie {
    width: 98%;
}

.projectnavigatie ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6em;
    padding-top: 0;
    
    list-style: none;
}

.projectnavigatie ul {
    padding: 0;
}

.projectnavigatie li {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.projectnavigatie a {
    color: var(--KopTekst);
    font-family: 'josefinbold';
    text-decoration: none;
    background-color: var(--ButtonKleur);
    
    padding: 0.5em;
}

.projectnavigatie a:hover {
    background-color: var(--HoverKnopIllustraties);
    color: var(--KopTekst);
}

.projectnavigatie a:focus {
    border: solid;
    border-width: 0.5em;
    border-color: var(--HoverKnopIllustraties);
}


/* ********************************************************************* */
/* PROJECT NAVIGATIE LARGE DEVICE -->
<!--************************************************************************* --> */

@media (min-width:40em) {
    .projectnavigatie li {
        font-size: 1.1em;
    }

    .projectnavigatie ul {
        padding-top: 1em;
        gap: 1em;
    }
    
    .projectnavigatie a {
        padding: 0.5em;
    }
}


/* <!-- *********************************************************** -->*/
/* PROJECTEN KLEUREN*/
/* <!-- *********************************************************** -->*/
.projecten {
    background-color:var(--BackgroundSlideOneFive);
}

.projectpage3 {
    background-color: var(--BackgroundSlideTwoFourSix);
}

.projectpage4 {
    background-color: var(--BackgroundSlideThree);
}

.projectpage2 {
    background-color: var(--BackgroundSlideTwoFourSix);
}


/* <!-- *********************************************************** -->*/
/* ALGEMEEN */
/* <!-- *********************************************************** -->*/

.projecten, 
.projectpage3,
.projectpage2, 
.projectpage4,
.cveducation,
.cvadditional,
.cv {
    margin:1em;
}

/* IMAGE BLAD NIET ZICHTBAAR KLEIN DEVICE */
.projecten section:nth-of-type(2),
.projectpage2 section:nth-of-type(2),
.projectpage3 section:nth-of-type(2),
.projectpage4 section:nth-of-type(2),
.cv section,
.cvadditional section,
.cveducation section {
    display: none;
}

/* TITELNAAM PROJECT  */
.projecten h2,
.projectpage3 h2,
.projectpage4 h2,
.projectpage2 h2,
.cv h2,
.cvadditional h2,
.cveducation h2{
    text-align: center;
    
    margin-bottom: 0;
    margin-top: 2em;
}

/* TEKSTKOP FOCUS */
.projecten h3,
.projectpage3 h3,
.projectpage2 h3,
.projectpage4 h3 {
    text-align: center;
    font-size: 0.9em;

    margin-top: 0.5em;
    margin-bottom: 3em;
}

/* HET PROCES TEKSTKOP */
.projecten section h3,
.projectpage3 section h3,
.projectpage4 section h3,
.projectpage2 section h3 {
    padding-bottom: 0;
    margin-bottom: 0;

    font-size: 1.5em;
    text-align: start;
    font-family: 'josefinbold';
}

/* ALINEAS */
.projectpage3 section p:nth-of-type(2),
.projectpage4 section p:nth-of-type(2),
.projectpage2 section p:nth-of-type(2) {
    margin-bottom: 1em;
}

/* TITELKOPPEN */
.projecten h4,
.projectpage3 h4,
.projectpage2 h4,
.projectpage4 h4 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;

    font-size: 1.2em;
    font-family: 'josefinbold';
}

.projecten section h4:nth-of-type(3),
.projecten section h4:nth-of-type(4),
.projecten section h4:nth-of-type(5),
.projecten section h4:nth-of-type(11){
    margin-top: 5em;
}

/* GEWONE TEKST PROJECTEN */
.projecten section p,
.projectpage3 section p,
.projectpage2 section p,
.projectpage4 section p {
    font-size: 1.1em;
    font-style: normal;
}

/* INLEIDING TEKST PROJECTEN */
.projecten p,
.projectpage3 P,
.projectpage2 P,
.projectpage4 p{
    font-style: italic;
    font-size: 1.1em;
    text-align: justify;
}

/* MARGIN ONDERKANT PROJECT PAGE */
.projectpage4 section > img:last-child,
.projectpage3 section > img:last-child,  
.projectpage2 section > img:last-child {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 7em;
}

/* PROJECT IMAGES */
.projecten img, 
.projectpage3 section img,
.projectpage4 section img,
.projectpage2 section img{
    width: 100%;
    display: flex;
    margin-left: auto; margin-right: auto; margin-top: 2em; margin-bottom: 3.5em;
    justify-content: center;
}

.projectpage3 video {
    display: flex;
    margin-left: auto; margin-right: auto;
    padding-bottom: 2em;
    width: 20em;
}

.projecten section p:nth-of-type(6),
.projecten section p:nth-of-type(8),
.projecten section p:nth-of-type(10),
.projecten section p:nth-of-type(12),
.projecten section p:nth-of-type(14),
.projecten section p:nth-of-type(16),
.projecten section p:nth-of-type(18),
.projecten section p:nth-of-type(20),
.projecten section p:nth-of-type(24),
.projecten section p:nth-of-type(35),
.projecten section p:nth-of-type(36),
.projecten section p:nth-of-type(37),
.projecten section p:nth-of-type(42),
.projecten section p:nth-of-type(43)        {
    font-family: 'josefinbold';
    padding-top: 1em;
}

.projecten section p:nth-of-type(28) {
    font-family: 'josefinbold';
    font-style: italic;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.projecten section ul li {
    font-family: 'josefin';
    margin: 0.5em;
}

.projecten section ul {
    padding-left: 1.5em;
    margin: 1em;
}


/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 

@media (min-width:50em) {
    .projecten,
    .projectpage3,
    .projectpage4,
    .projectpage2,
    .cv,
    .cvadditional,
    .cveducation {
        margin: auto;
        padding: 0;
        max-width: 45em;
    }

    /* GEWONE TEKST PROJECTEN */
    .projecten section p,
    .projectpage3 section p,
    .projectpage2 section p,
    .projectpage4 section p {
        font-size: 1.0em;
}

    .cveducation h5:last-of-type {
        padding-bottom: 20em;
    }

    /* TEKSTEN PROJECTEN */
    .projecten h2,
    .projectpage3 h2,
    .projectpage4 h2,
    .projectpage2 h2,
    .cv h2,
    .cvadditional h2,
    .cveducation h2 {
        font-size: 2.5em;
    }
    
    .projecten h3,
    .projectpage3 h3,
    .projectpage4 h3,
    .projectpage2 h3,
    .cv h3,
    .cveducation h3,
    .cvadditional h3{
        font-size: 1.3em;
        margin-top: 1em;
    }

    .projecten > h3:first-of-type,
    .projectpage3 > h3:first-of-type,
    .projectpage2 > h3:first-of-type,
    .projectpage4 > h3:first-of-type {
        font-size: 1.2em;
    }

    .projecten section h3:nth-of-type(2),
    .projecten section h3:nth-of-type(3),
    .projecten section h3:nth-of-type(4),
    .projecten section h3:nth-of-type(5),
    .projecten section h3:nth-of-type(6),
    .projecten section h3:nth-of-type(7),
    .projecten section h3:nth-of-type(8)  {
        padding-top: 4em;
    }

    .projecten h4,
    .projectpage3 h4,
    .projectpage4 h4,
    .projectpage2 h4 {
        font-size: 1.2em;
    }

    .projecten p,
    .projectpage3 p, 
    .projectpage4 p,
    .projectpage2 p{
        font-size: 1.1em;
    }

    /* AFBEELDINGEN PROJECTEN */
    .projectpage3 section img {
        width: 26em;
    }
    
    .projectpage3 section img:nth-of-type(2) {
        width: 100%;
    }

    .projectpage3 section img:nth-of-type(3) {
        width: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    

    .projectpage2 section img:nth-of-type(2),
    .projectpage2 section img:nth-of-type(3) {
        width: 35em;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


    /* VIDEO projectpage3 GROOT DEVICE */
    .projectpage3 video {
        width: 22em;
        justify-content: center;
        align-items: center;
        margin: auto; 
    }

    .projecten section img:nth-of-type(8),
    .projecten section img:nth-of-type(9),
    .projecten section img:nth-of-type(10) {
        width: 50%;
    }








}

@media (min-width:70em) {
    .projecten,
    .projectpage3,
    .projectpage4,
    .projectpage2 {
        max-width: 45em;
    }

    /* AFMETINGEN BLAD EN VISIBILITY */
    .projecten section:nth-of-type(2),
    .projectpage2 section:nth-of-type(2),
    .projectpage3 section:nth-of-type(2),
    .projectpage4 section:nth-of-type(2),
    .cv section:nth-of-type(1),
    .cvadditional section:nth-of-type(1),
    .cveducation section:nth-of-type(1) {
        display: block;
    }
    
    .projecten section:last-of-type img:nth-of-type(1),
    .projectpage2 section:nth-of-type(2) img:nth-of-type(1),
    .projectpage3 section:nth-of-type(2) img:nth-of-type(1),
    .projectpage4 section:nth-of-type(2) img:nth-of-type(1),
    .cv section img:nth-of-type(1),
    .cvadditional section img:nth-of-type(1),
    .cveducation section img:nth-of-type(1){
        width: 13em;
        position: absolute;
        left: 0; top: 10% ;
    }
    
    .projecten section:last-of-type img:nth-of-type(2),
    .projectpage2 section:nth-of-type(2) img:nth-of-type(2),
    .projectpage3 section:nth-of-type(2) img:nth-of-type(2),
    .projectpage4 section:nth-of-type(2) img:nth-of-type(2),
    .cv section img:nth-of-type(2),
    .cvadditional section img:nth-of-type(2),
    .cveducation section img:nth-of-type(2) {
        width: 13em;
        position: absolute;
        right: 0; top: 180% ;
    }

    .cv section img:nth-of-type(2),
    .cvadditional section img:nth-of-type(2),
    .cveducation section img:nth-of-type(2) {
        width: 13em;
        position: absolute;
        right: 0; top: 70% ;
    }

    .cv section img:nth-of-type(3) {
        width: 13em;
        margin:0;
        position: absolute;
        left: 0; top: 170% ;
    }

    .projecten section p:last-of-type {
        padding-bottom: 15em;
    }
    
}










/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/
/* ILLUSTRATIES PAGINA */
/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/

.illustraties {
    background-color: var(--BackgroundSlideOneFive);
}

.illustraties section {
    display: none;
}

/* Main Slideshow container */
#slideshow-container {
    height: max-content;
    position: relative;
    margin: auto;
    padding-top: 2em;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    color: var(--TekstKleur);
    background-color:var(--BackgroundSlideTwoFourSix) ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right:0px;
    border-radius: 3px 0 0 3px;
  }

  .prev {
      left: 0px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color:var(--HoverKnopIllustraties);
    color: var(--KopTekst);
  }
  
  /* The dots/bullets/indicators */
  .dot{
    background-color:var(--BackgroundSlideThree);
    text-align: center;    
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s ease;

    height: 10px;
    width: 10px;
    margin: 0.5em;
    margin-top: 1em;
    display: inline-block;
  }
  
  .active, .dot:hover {
    background-color: var(--MenuKnop);
  }


/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width:30em) {
    .slideshow-container {
        max-width: 28em;
        margin-left: 2em; margin-right: 2em;
        margin-top: 1em;
        margin-bottom: 0;
    }
}

@media (min-width:34em) {
    .slideshow-container, 
    .prev,
    .next,
    .dot {
        display: none;
    }

    .illustraties section {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-bottom:6em ;
    }

    .illustraties section img{
        display: flex;
        height:30em;
        margin: 1em;
    } 

    .illustraties section h2 {
        background-color: var(--ButtonKleur); 
        font-size: 1.2em;
        color: var(--KopTekst);

        display: inline-block;
        max-width: 100%;
        margin: 3em; margin-top: 1em;
        padding: 1em;
        padding-left: 10%; padding-right: 10%;
    }
}

@media (min-width:70em) {
    .illustraties section h2 {
        padding-left:18%; padding-right: 18%;
    }
}

@media (min-width:90em) {
    .illustraties section h2 {
        padding-left:20%; padding-right: 20%;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* CV */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */

/* <!-- *********************************************************** -->*/
/* CV KLEUREN*/
/* <!-- *********************************************************** -->*/
.cv {
    background-color:var(--BackgroundSlideOneFive);
    max-width: 40em;
}

.cvadditional {
    padding-bottom: 15em!important;
}

.cveducation {
    padding-bottom: 30em!important;
}

.cveducation{
    background-color: var(--BackgroundSlideTwoFourSix);
}

.cvadditional {
    background-color: var(--BackgroundSlideOneFive);
}

.cv h2:nth-of-type(2),
.cveducation h2:nth-of-type(2) {
    margin-top: 4em;
}

.cv h3,
.cvadditional h3,
.cveducation h3 {
    margin-top: 3em;
    font-family: 'josefinbold';
}

.cv h3 span,
.cvadditional h3 span,
.cveducation h3 span{
    font-family: 'josefin';
}

.cv h4,
.cvadditional h4,
.cveducation h4 {
    font-style: italic;
    font-size: 1em;
}

.cv h5,
.cvadditional h5,
.cveducation h5 {
    font-size: 0.8em;

}

.cveducation h5 span {
    color: var(--DiplomaTekstKleur);
    font-family: 'josefinbold';
    font-size: 1.2em;
    margin-left: 1em;
}

.cvadditional ul li{
    font-family: 'josefin';
}

/* AFBEELDING BLAD CV */
.cv img:last-of-type {
    width: 8em;
    position: absolute;
    right: 0;
    margin: auto;
}

.cvadditional img:last-of-type {
    width: 8em;
    position: absolute;
    right: 0; bottom: -30%;
    margin: auto;
}

.cveducation img:last-of-type {
    width: 8em;
    position: absolute;
    right: 0;
    margin: auto;
}

/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 

@media (min-width:50em) {
    .cv p:last-of-type{
        padding-bottom: 10em;
    }
}


@media (min-width:70em) {
    .cv main img:last-of-type,
    .cvadditional main img:last-of-type,
    .cveducation main img:last-of-type{
        display: none!important;
    }

    .cv main img:last-of-type {
        display: none!important;
    }

    .cv section > img:last-of-type, 
    .cvadditional section > img:last-of-type,
    .cveducation section > img:last-of-type {
        display: block!important;
    }

    .cv p:last-of-type{
        padding-bottom: 15em;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* CONTACT */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */

.contact {
    background-color: var(--BackgroundSlideTwoFourSix);
}

.contact h3 {
    text-align: center;
    font-family: 'josefinbold';
    font-size: 1em;
}

.contactme img {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3.5em;
}

.contact ul li {
    list-style: none;
}

.contactme ul {
    padding:0;
    display: block;
    justify-content: center;
    align-items:center;
    margin: 0;
}

.contactme h2 {
    text-align: center;
    margin: 1em 2em 2em 2em;
}

/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width:50em) {
    .contactme ul {
        display: flex;
    }

    .contactme img {
        width: 7em;
        display: flex;
        margin: 10em 5em 2em;
    }

    .contact h4 {
        text-align: center;
    }

    .contactme h1 {
        padding: 1em;
    }

    .contactme h2 {
        text-align: center;
        font-size: 3em;

        margin: 2em;
        margin-bottom: 0;
    }
}






/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* FOOTER */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width:50em) {
    footer p {
        position: absolute;
        left: 0;
        padding: 1em;
    }
}