html,body {
    margin: 0;
    height: 100%;
    padding: 0;

}

/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* SETTINGS */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 

/* ********************************************************************* */ 
/* KLEUR EN AFMETING */
/* ********************************************************************* */ 
:root{
    /* kleur */
    --BackgroundSlideOneFive: #f5ece3;
    --BackgroundSlideTwoFourSix: #e8d8d3;
    --BackgroundSlideThree: #ddcdc3;
    --TekstKleur: #000000;
    --KopTekst: #ffffff;
    --MenuKnop: #86933A;
    --ButtonKleur: #99ab65;
    --HoverKnopIllustraties: #b07d5f;

    /* afmeting */    
    --HamburgerThickness: var(--hamburgerThickness, 4px);
    --hamburgerWidth: 1.75rem;
    --hamburgerHeight: 1.25rem;
    --MenuCircleHeight: calc(var(--MenuCircleSize) / 2);  
  }
  


/* ********************************************************************* */ 
/* FONTS */
/* ********************************************************************* */ 
  @font-face {
    font-family: 'josefin';
    src: url('../assets/JosefinSans-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'josefinbold';
    src: url('../assets/JosefinSans-Medium.ttf');
    font-style: normal;
}



/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* STANDAARD VORMGEVING */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */ 

body {
    overflow-x: hidden;
}

/* ACHTERGROND KLEUREN */
.homepage section:nth-of-type(1) {
    background-color: #f5ece3;
}

.homepage section:nth-of-type(2) {
    background-color: #e8d8d3;
}

.homepage section:nth-of-type(3) {
    background-color: #ddcdc3;
}

.homepage section:nth-of-type(4) {
    background-color: #e8d8d3;
}

.homepage section:nth-of-type(5) {
    background-color: #f5ece3;
}

.homepage section:nth-of-type(6) {
    background-color: #e8d8d3;
}

/* TEKSTEN */
h1, h2, h3, h4, h5, h6, p {
    color:var(--TekstKleur);
    font-family: 'josefin';
}

h1 {
    font-size: 0.7em;
    font-family: 'Josefin';

    position: absolute;
    right: 1em;
    bottom: 0;
    z-index: 30;
} 

.contactopnemen h1,
.projecten h1,
.passieproject h1,
.ucd h1,
.programmeren h1,
.cv h1,
.illustraties h1,
.cv h1,
.cvaanvullend h1,
.cvopleiding h1{
    background-color:var(--HoverKnopIllustraties);
    color: var(--KopTekst);
    font-family: 'josefinbold';  

    padding: 1em;  
    position: fixed;
}

/* ********************************************************************* */ 
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width: 50em) {
    h1 {
        font-size: 1.5em;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* NAVIGATIE BRON: https://codepen.io/melnik909/pen/JpJPYp AUTHOR: STAS MELNIKOV*/ 
/* ********************************************************************* */
/* ********************************************************************* */ 
/* ********************************************************************* */ 

/* ********************************************************************* */
/* NAVIGATIE POSITIE + KLEUR/FORMAAT*/
/* ********************************************************************* */
.menu{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;  

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
}



/* ********************************************************************* */
/* NAVIGATIE CIRKEL*/
/* ********************************************************************* */

/* VORMGEVING CIRKEL + POSITIE*/
.menu__toggle::before{
  content: "";
  width: 1em;
  height: 1em;
  
  font-size: 7.5em; 
  background-color: var(--MenuKnop);
  border-radius: 50%;

  position: absolute;
  bottom: -.45em; 
  left: calc(50% - .5em);
  z-index: -1;

  transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
              width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
              height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.nav-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}



/* ********************************************************************* */
/* HAMBURGERMENU ICON*/
/* ********************************************************************* */

/* HAMBURGERMENU ICON NAAR KRUIS*/
.menu_activated .m-hamburger::before{
  top: 50%;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.menu_activated .m-hamburger::after{
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.menu_activated .m-hamburger__label{
  transform: translate3d(-.285em,-.3em, 0);
  opacity: 0;
}

/* PLAATSING HAMBURGERMENU ICON */
.menu__toggle{
  width: 6.25em;
  height: var(--MenuCircleHeight);
  margin-bottom: 0.25em;
}

 /* STREEP HAMBURGER ICON */
.m-hamburger{  
  display: inline-flex;
  width: var(--hamburgerWidth, 28px);
  height: var(--hamburgerHeight, 20px);
  position: relative;
}

.m-hamburger__label{
  top: calc(50% - calc(var(--HamburgerThickness) / 2));
}

.m-hamburger::after{
  bottom: 0;
}

.m-hamburger::before, 
.m-hamburger::after{
  content:"";
}

.m-hamburger::before, 
.m-hamburger::after, 
.m-hamburger__label{
  background-color:var(--KopTekst);

  width: 100%;
  height: var(--HamburgerThickness);
  position: absolute;
  left: 0;
}



/* ********************************************************************* */
/* INSIDE NAVIGATIE*/
/* ********************************************************************* */

/* PLAATSING LINK INSIDE NAVIGATIE*/
.menu__nav{
  box-sizing: border-box;
  width: 100%;
  height: 0;

  transition: opacity .2s ease-out;
  opacity: 0;

  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.menu_activated .menu__toggle::before{
  width: 100vmax;
  height: 100vmax;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
  transition-duration: 1s;
}

.menu_activated .menu__nav{
  flex-grow: 1;
  opacity: 1;

  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
  height: 100%;
}

/* TEXT NAVIGATIE ITEMS */
.menu ul li a {
    text-decoration: none;
    color: var(--KopTekst);
    font-size: 2em;
    font-family: 'josefinbold';
    font-weight: 700;
    text-transform: uppercase;

    padding: .5em 0; 
}

.menu ul li {
    list-style: none;
    margin: 0 0 1em 0;
}

@media (min-width:50em) {
    .menu ul li a {
    font-size: 3em;

    padding: .05em 2em;
    }
}





/* ********************************************************************* */
/* ********************************************************************* */
/* ********************************************************************* */
/* HOMEPAGE*/
/* ********************************************************************* */
/* ********************************************************************* */
/* ********************************************************************* */

/* standaard homepage */
.homepage {
    display: block;
    width: fit-content;
    flex-wrap: wrap;
}

/* Alle sections */
.homepage section {
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;

    height:100vh;
    width: 100vw;
}

/* button bekijk projecten section 2 */
.homepage section:nth-of-type(2) a {
    text-decoration: none;
    border-radius: 0.7em;
    font-size: 0.8em;
    font-family: 'josefinbold';
    color:var(--KopTekst);
    background-color: var(--ButtonKleur);

    padding: 1em;
    position: absolute;
    z-index: 30;
    top: 180%; left: 10%;
}

/* IMAGE GROOT + TEKST WEG BIJ KLEIN DEVICE */
.homepage section img:first-of-type,
.homepage section img:nth-of-type(3),
.homepage section h1,
.homepage section:nth-of-type(3) img:nth-of-type(2),
.homepage section:nth-of-type(3) img:nth-of-type(3) {
    display: none; 
}

/* SABRINA IMG KLEIN DEVICE */
.homepage section img:last-of-type {
    position: absolute;
    margin:  auto;
    z-index: 20;

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 95%;
}

.homepage section:nth-of-type(1) img:last-of-type,
.homepage section:nth-of-type(2) img:last-of-type,
.homepage section:nth-of-type(3) img:last-of-type {
    margin-left: 2em;
}

/* POSITIE BLAD */
.homepage section:nth-of-type(1) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    right: 0; top: 40% ;
}

.homepage section:nth-of-type(2) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    left: 0; top:140%;
}

.homepage section:nth-of-type(4) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    right: 0; top: 340%;
}

.homepage section:nth-of-type(5) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    left: 0; top:440%;
}

.homepage section:nth-of-type(6) img:nth-of-type(2) {
    width: 8em;
    position: absolute;
    right: 0; top: 540%;
}


/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */

@media (min-width:30em) {
    .homepage section:nth-of-type(1) img:last-of-type,
    .homepage section:nth-of-type(2) img:last-of-type,
    .homepage section:nth-of-type(3) img:last-of-type {
        margin-left: 3em;
    }
}

@media (min-width:40em) {
    /* img + tekst zichtbaar groot device */
    .homepage section img:first-of-type,
    .homepage section img:nth-of-type(3),
    .homepage section h1,
    .homepage section:nth-of-type(3) img:nth-of-type(2),
    .homepage section:nth-of-type(3) img:nth-of-type(3) {
        display: block; 
    }   

    /* sabrina img niet zichtbaar klein device */
   .homepage section img:last-of-type {
        display: none;
    }
    
    .homepage section:nth-of-type(3) span:nth-of-type(1),
    .homepage section:nth-of-type(5) span:nth-of-type(1) {
        font-family: 'josefinbold';
    }

    .homepage section:nth-of-type(3) span:nth-of-type(2) a,
    .homepage section:nth-of-type(4) span:nth-of-type(1) a,
    .homepage section:nth-of-type(6) span:nth-of-type(1) a {
        font-family: 'josefinbold';
        color:var(--MenuKnop);
    }

    /* Sabrina img groot device */
    .homepage section img:first-of-type {
        margin:  auto; 
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 95%;
    }

    /* plaatsing blad 2 + afmetingen */
    .homepage section:nth-of-type(1) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        left: 0; top: 10% ;
    }

    .homepage section:nth-of-type(2) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        right: 0; top: 110%;
    }

    .homepage section:nth-of-type(3) img:nth-of-type(2) {
        width: 7em;
        position: absolute;
        right: 0; top: 240%;
    }

    .homepage section:nth-of-type(3) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        left: 0; top: 210%;
    }

    .homepage section:nth-of-type(4) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        left: 0; top: 310%;
    }

    .homepage section:nth-of-type(5) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        right: 0; top: 410%;
    }

    .homepage section:nth-of-type(6) img:nth-of-type(3) {
        width: 7em;
        position: absolute;
        left: 0; top: 510%;
    }

    /* teksten h1 groot device */
    .homepage section h1 {
        position: absolute;
        max-width: 15em;
        top: 3em;
        margin: 2em; 

        font-size: 0.9em;
        text-align: center;
    }

    .homepage section:nth-of-type(1) h1 {
        top:10%
    }

    .homepage section:nth-of-type(2) h1 {
        top: 150%;
    }

    .homepage section:nth-of-type(3) h1 {
        top: 250%; right: 12%;
        max-width: 12em;
    }

    .homepage section:nth-of-type(4) h1 {
        top: 310% ;
    }

    .homepage section:nth-of-type(5) h1 {
        top: 450%;
    }

    .homepage section:nth-of-type(6) h1 {
        top: 510%;
    }
}

@media (min-width:50em) {
    .homepage section h1 {
        padding-right: 2em;
    }
}

@media (min-width:60em) {
    .homepage section h1 {
        padding-right: 3em;
        font-size: 1.1em;
    }

    /* AFMETING BLAD GROOT DEVICE */
    .homepage section:nth-of-type(1) img:nth-of-type(3),
    .homepage section:nth-of-type(2) img:nth-of-type(3),
    .homepage section:nth-of-type(3) img:nth-of-type(2),    
    .homepage section:nth-of-type(3) img:nth-of-type(3),
    .homepage section:nth-of-type(4) img:nth-of-type(3),
    .homepage section:nth-of-type(5) img:nth-of-type(3),
    .homepage section:nth-of-type(6) img:nth-of-type(3) {
        width: 12em;
    }

    .homepage section:nth-of-type(1) img:nth-of-type(2),
    .homepage section:nth-of-type(2) img:nth-of-type(2),
    .homepage section:nth-of-type(4) img:nth-of-type(2),
    .homepage section:nth-of-type(5) img:nth-of-type(2),
    .homepage section:nth-of-type(6) img:nth-of-type(2){
        width: 13em;
    }

    /* button bekijk projecten section 2 */
    .homepage section:nth-of-type(2) a {
        font-size: 1em;
        
        padding: 1.5em;
        top: 120%; left: 10%;
    }
}


@media (min-width:70em) {
    .homepage section h1 {
        padding-right: 5em;
        font-size: 1.2em;
    }
}

@media (min-width:80em) {
    .homepage section h1 {
        padding-right: 7em;
    }

    /* button bekijk projecten section 2 */
    .homepage section:nth-of-type(2) a {
        margin-left: 4em;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* PROJECTEN */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */

/* ********************************************************************* */
/* PROJECT NAVIGATIE -->
<!--************************************************************************* --> */

.projectnavigatie {
    width: 100%;
}

.projectnavigatie ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-top: 0;
    
    list-style: none;
}

.projectnavigatie li {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.projectnavigatie a {
    color: var(--KopTekst);
    font-family: 'josefinbold';
    text-decoration: none;
    background-color: var(--ButtonKleur);
    
    padding: 0.5em;
}

.projectnavigatie a:hover {
    background-color: var(--HoverKnopIllustraties);
    color: var(--KopTekst);
}

.projectnavigatie a:focus {
    border: solid;
    border-width: 0.5em;
    border-color: var(--HoverKnopIllustraties);
}


/* ********************************************************************* */
/* PROJECT NAVIGATIE LARGE DEVICE -->
<!--************************************************************************* --> */

@media (min-width:40em) {
    .projectnavigatie li {
        font-size: 1.1em;
    }

    .projectnavigatie ul {
        padding-top: 1em;
        gap: 1em;
    }
    
    .projectnavigatie a {
        padding: 0.5em;
    }
}


/* <!-- *********************************************************** -->*/
/* PROJECTEN KLEUREN*/
/* <!-- *********************************************************** -->*/
.projecten {
    background-color:var(--BackgroundSlideOneFive);
}

.passieproject {
    background-color: var(--BackgroundSlideTwoFourSix);
}

.ucd {
    background-color: var(--BackgroundSlideThree);
}

.programmeren {
    background-color: var(--BackgroundSlideTwoFourSix);
}


/* <!-- *********************************************************** -->*/
/* ALGEMEEN */
/* <!-- *********************************************************** -->*/

.projecten, 
.passieproject,
.programmeren, 
.ucd,
.cvopleiding,
.cvaanvullend,
.cv {
    margin:1em;
}

/* IMAGE BLAD NIET ZICHTBAAR KLEIN DEVICE */
.projecten section:nth-of-type(2),
.programmeren section:nth-of-type(2),
.passieproject section:nth-of-type(2),
.ucd section:nth-of-type(2),
.cv section,
.cvaanvullend section,
.cvopleiding section {
    display: none;
}

/* TITELNAAM PROJECT  */
.projecten h2,
.passieproject h2,
.ucd h2,
.programmeren h2,
.cv h2,
.cvaanvullend h2,
.cvopleiding h2{
    text-align: center;
    
    margin-bottom: 0;
    margin-top: 2em;
}

/* TEKSTKOP FOCUS */
.projecten h3,
.passieproject h3,
.programmeren h3,
.ucd h3 {
    text-align: center;
    font-size: 0.9em;

    margin-top: 0.5em;
    margin-bottom: 3em;
}

/* HET PROCES TEKSTKOP */
.projecten section h3,
.passieproject section h3,
.ucd section h3,
.programmeren section h3 {
    padding-bottom: 0;
    margin-bottom: 0;

    font-size: 1.5em;
    text-align: start;
    font-family: 'josefinbold';
}

/* ALINEAS */
.passieproject section p:nth-of-type(2),
.ucd section p:nth-of-type(2),
.programmeren section p:nth-of-type(2) {
    margin-bottom: 1em;
}

/* TITELKOPPEN */
.projecten h4,
.passieproject h4,
.programmeren h4,
.ucd h4 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;

    font-size: 1.2em;
    font-family: 'josefinbold';
}

/* GEWONE TEKST PROJECTEN */
.projecten section p,
.passieproject section p,
.programmeren section p,
.ucd section p {
    margin-top: 0;
    margin-bottom: 3em;

    font-size: 1em;
    font-style: normal;
}

/* INLEIDING TEKST PROJECTEN */
.projecten p,
.passieproject P,
.programmeren P,
.ucd p{
    font-style: italic;
    font-size: 0.9em;
    text-align: justify;
}

/* MARGIN ONDERKANT PROJECT PAGE */
.projecten section > img:last-child,
.ucd section > img:last-child,
.passieproject section > img:last-child,  
.programmeren section > img:last-child {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 7em;
}

/* PROJECT IMAGES */
.projecten section img,
.passieproject section img,
.ucd section img,
.programmeren section img{
    width: 100%;
    display: flex;
    margin-left: auto; margin-right: auto; margin-top: 2em; margin-bottom: 3.5em;
    justify-content: center;
}

.projecten section > img:first-child{
    width: 70%;
}

.passieproject video {
    display: flex;
    margin-left: auto; margin-right: auto;
    padding-bottom: 2em;
    width: 20em;
}


/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 

@media (min-width:50em) {
    .projecten,
    .passieproject,
    .ucd,
    .programmeren,
    .cv,
    .cvaanvullend,
    .cvopleiding {
        margin: auto;
        padding: 0;
        max-width: 45em;
    }

    /* TEKSTEN PROJECTEN */
    .projecten h2,
    .passieproject h2,
    .ucd h2,
    .programmeren h2,
    .cv h2,
    .cvaanvullend h2,
    .cvopleiding h2 {
        font-size: 2.5em;
    }
    
    .projecten h3,
    .passieproject h3,
    .ucd h3,
    .programmeren h3,
    .cv h3,
    .cvopleiding h3,
    .cvaanvullend h3{
        font-size: 1.3em;
        margin-top: 1em;
    }

    .projecten > h3:first-of-type,
    .passieproject > h3:first-of-type,
    .programmeren > h3:first-of-type,
    .ucd > h3:first-of-type {
        font-size: 1.2em;
    }

    .projecten h4,
    .passieproject h4,
    .ucd h4,
    .programmeren h4 {
        font-size: 1.3em;
    }

    .projecten p,
    .passieproject p, 
    .ucd p,
    .programmeren p{
        margin-bottom: 4em;
        font-size: 1.1em;
    }

    /* AFBEELDINGEN PROJECTEN */
    .projecten section img,
    .passieproject section img {
        width: 26em;
    }

    .passieproject section img:nth-of-type(2) {
        width: 100%;
    }

    .passieproject section img:nth-of-type(3) {
        width: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .projecten section > img:first-child{
        width: 22em;
    }

    .programmeren section img:nth-of-type(2),
    .programmeren section img:nth-of-type(3) {
        width: 35em;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .projecten section > img:last-child {
        width: 100%;
        padding-bottom: 7em;
    }

    /* VIDEO PASSIEPROJECT GROOT DEVICE */
    .passieproject video {
        width: 22em;
        justify-content: center;
        align-items: center;
        margin: auto; 
    }
}

@media (min-width:70em) {
    .projecten,
    .passieproject,
    .ucd,
    .programmeren {
        max-width: 45em;
    }

    /* AFMETINGEN BLAD EN VISIBILITY */
    .projecten section:nth-of-type(2),
    .programmeren section:nth-of-type(2),
    .passieproject section:nth-of-type(2),
    .ucd section:nth-of-type(2),
    .cv section:nth-of-type(1),
    .cvaanvullend section:nth-of-type(1),
    .cvopleiding section:nth-of-type(1) {
        display: block;
    }
    
    .projecten section:nth-of-type(2) img:nth-of-type(1),
    .programmeren section:nth-of-type(2) img:nth-of-type(1),
    .passieproject section:nth-of-type(2) img:nth-of-type(1),
    .ucd section:nth-of-type(2) img:nth-of-type(1),
    .cv section img:nth-of-type(1),
    .cvaanvullend section img:nth-of-type(1),
    .cvopleiding section img:nth-of-type(1){
        width: 13em;
        position: absolute;
        left: 0; top: 10% ;
    }
    
    .projecten section:nth-of-type(2) img:nth-of-type(2),
    .programmeren section:nth-of-type(2) img:nth-of-type(2),
    .passieproject section:nth-of-type(2) img:nth-of-type(2),
    .ucd section:nth-of-type(2) img:nth-of-type(2),
    .cv section img:nth-of-type(2),
    .cvaanvullend section img:nth-of-type(2),
    .cvopleiding section img:nth-of-type(2) {
        width: 13em;
        position: absolute;
        right: 0; top: 180% ;
    }

    .cv section img:nth-of-type(2),
    .cvaanvullend section img:nth-of-type(2),
    .cvopleiding section img:nth-of-type(2) {
        width: 13em;
        position: absolute;
        right: 0; top: 70% ;
    }

    .cv section img:nth-of-type(3) {
        width: 13em;
        margin:0;
        position: absolute;
        left: 0; top: 170% ;
    }
}





/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/
/* ILLUSTRATIES PAGINA */
/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/

.illustraties {
    background-color: var(--BackgroundSlideOneFive);
}

.illustraties section {
    display: none;
}

/* Main Slideshow container */
#slideshow-container {
    height: max-content;
    position: relative;
    margin: auto;
    padding-top: 2em;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    color: var(--TekstKleur);
    background-color:var(--BackgroundSlideTwoFourSix) ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right:0px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color:var(--HoverKnopIllustraties);
    color: var(--KopTekst);
  }
  
  /* The dots/bullets/indicators */
  .dot{
    background-color:var(--BackgroundSlideThree);
    text-align: center;    
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s ease;

    height: 10px;
    width: 10px;
    margin: 0.5em;
    margin-top: 1em;
    display: inline-block;
  }
  
  .active, .dot:hover {
    background-color: var(--MenuKnop);
  }


/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width:30em) {
    .slideshow-container {
        width: 22em;
    }
}

@media (min-width:50em) {
    .slideshow-container, 
    .prev,
    .next,
    .dot {
        display: none;
    }

    .illustraties section {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-bottom:6em ;
    }

    .illustraties section img{
        display: flex;
        height:30em;
        margin: 1em;
    } 

    .illustraties section h2 {
        background-color: var(--ButtonKleur); 
        font-size: 1em;
        color: var(--KopTekst);
        text-align: center;

        display: inline-block;
        max-width: 100%;
        margin: 2em; margin-top: 1em;
        padding: 1em;
        padding-left: 10%; padding-right: 10%;
    }
}

@media (min-width:70em) {
    .illustraties section h2 {
        padding-left:20%; padding-right: 20%;
    }
}

@media (min-width:90em) {
    .illustraties section h2 {
        padding-left:25%; padding-right: 25%;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* CV */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */

/* <!-- *********************************************************** -->*/
/* CV KLEUREN*/
/* <!-- *********************************************************** -->*/
.cv {
    background-color:var(--BackgroundSlideOneFive);
    max-width: 40em;
}

.cvaanvullend,
.cvopleiding {
    padding-bottom: 15em!important;
}

.cvopleiding{
    background-color: var(--BackgroundSlideTwoFourSix);
}

.cvaanvullend {
    background-color: var(--BackgroundSlideThree);
}

.cv h2:nth-of-type(2) {
    margin-top: 4em;
}

.cv h3,
.cvaanvullend h3,
.cvopleiding h3 {
    margin-top: 3em;
    font-family: 'josefinbold';
}

.cv h3 span,
.cvaanvullend h3 span,
.cvopleiding h3 span{
    font-family: 'josefin';
}

.cv h4,
.cvaanvullend h4,
.cvopleiding h4 {
    font-style: italic ;
}

.cvopleiding h5 span {
    color: var(--KopTekst);
    font-family: 'josefinbold';
    font-size: 1.5em;
}

.cvaanvullend ul li{
    font-family: 'josefin';
}

/* AFBEELDING BLAD CV */
.cv img:last-of-type {
    width: 8em;
    position: absolute;
    right: 0; bottom: -190%;
    margin: auto;
}

.cvaanvullend img:last-of-type {
    width: 8em;
    position: absolute;
    right: 0; bottom: -30%;
    margin: auto;
}

.cvopleiding img:last-of-type {
    width: 8em;
    position: absolute;
    right: 0; bottom: -50%;
    margin: auto;
}

/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width:70em) {
    .cv img:last-of-type,
    .cvaanvullend img:last-of-type,
    .cvopleiding img:last-of-type{
        display: none!important;
    }

    .cv img:last-of-type {
        display: none!important;
    }

    .cv section img:last-of-type, 
    .cvaanvullend section img:last-of-type,
    .cvopleiding section img:last-of-type {
        display: block!important;
    }
}





/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */
/* CONTACT */
/* ********************************************************************* */ 
/* ********************************************************************* */ 
/* ********************************************************************* */

.contact {
    background-color: var(--BackgroundSlideTwoFourSix);
}

.contact h3 {
    text-align: center;
    font-family: 'josefinbold';
    font-size: 1em;
}

.contact img {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3.5em;
}

.contact ul li {
    list-style: none;
}

.contactopnemen ul {
    padding:0;
    display: block;
    justify-content: center;
    align-items:center;
    margin: 0;
}

.contactopnemen h2 {
    text-align: center;
    margin: 2em;
}

/* ********************************************************************* */
/* GROTER DEVICE */
/* ********************************************************************* */ 
@media (min-width:50em) {
    .contactopnemen ul {
        display: flex;
    }

    .contact img {
        width: 7em;
        display: flex;
        margin: 10em 5em 2em;
    }

    .contact h4 {
        text-align: center;
    }

    .contactopnemen h1 {
        padding: 1em;
    }

    .contactopnemen h2 {
        text-align: center;
        font-size: 3em;

        margin: 2em;
        margin-bottom: 0;
    }
}